<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41996478646-ehic2i924b1552a6cfffduj2qctrasge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41996478646-ehic2i924b1552a6cfffduj2qctrasge</string>
	<key>API_KEY</key>
	<string>AIzaSyCZCzBAtMFSC8igG2iNGhG-yzgSOihan5k</string>
	<key>GCM_SENDER_ID</key>
	<string>41996478646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nick.main.MySwiftDemo</string>
	<key>PROJECT_ID</key>
	<string>myswiftdemo-de316</string>
	<key>STORAGE_BUCKET</key>
	<string>myswiftdemo-de316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41996478646:ios:8ad28ef6700ec37b</string>
	<key>DATABASE_URL</key>
	<string>https://myswiftdemo-de316.firebaseio.com</string>
</dict>
</plist>